div.jumbotron
  div.container
    div.banner-content
      h1.lead Simplify template creation with modules. 
      div.btn-group-stacked
        a.btn.btn-primary.mr-2(href="#") Test
        a.btn.btn-secondary(href="#") Duo
