div.jumbotron#particles-js  
    div.banner-content
        h1.lead Some wonky heading
        div.btn-group-stacked
        a.btn.btn-primary.mr-2(href="#") Test
        a.btn.btn-secondary(href="#") Duo
