$break-small: 576px;
$break-md: 768px;
$break-dt: 1024px;
$break-lt: 1280px;
$break-md-dt: 1400px;
$break-lg: 1600px;

.jumbotron {
  height: 300px;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  border-radius: 0;
  .banner-content {
    padding-bottom: 2rem;
    box-sizing: border-box;
    .lead {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }
}

@media screen and (min-width: $break-small) {
  .jumbotron .banner-content h1.lead {
    font-size: 3rem;
  }
}

@media screen and (min-width: $break-md) {
  body .jumbotron .banner-content h1.lead {
    font-size: 3.5rem;
  }
  .jumbotron .btn {
    font-size: 1.6rem;
  }
}
